body {
    width: 100%;
    height: 100vh;  /* The vh unit stands for viewport height, and is relative to 1% of the height of the viewport. */
    margin: 0;
    background-color: #1b1b32;
    color: #f5f6f7;
    font-family: Tahoma;
    font-size: 16px;
}

label {
    display: block;
    margin: 0.5rem 0;  /* The em unit allows setting the font size of an element relative to the font size of its parent.
                        The rem is based upon the font-size value of the root element, which is the <html> element. And if the <html> element doesn’t have
                        a specified font-size, the browser default value of 16px is used.
                        https://www.geeksforgeeks.org/difference-between-em-and-rem-units-in-css/ */
}